<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <form
    [formGroup]="registrationForm"
    (ngSubmit)="onSubmit()"
    class="registration-form"
  >
    <div>
      <div class="form__control">
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="Input text" name="name" formControlName="name"/>
        <div *ngIf="name?.invalid && (name?.dirty || name?.touched); else nameError">
          <span id="nameErrorMessage" class="text-danger">Name is required.</span>
          <span id="nameErrorMessage" class="text-danger">Minimum name length: 6</span>
        </div>
        <ng-template #nameError>
          <div>Some custom message or component when name input is valid</div>
        </ng-template>
      </div>
      <div class="form__control">
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Input text" name="email" formControlName="email"/>
        <div *ngIf="email?.invalid && (isSubmitted || email?.touched); else emailError">
          <span id="emailErrorMessage" class="text-danger">Email is required.</span>
          <span id="emailErrorMessage" class="text-danger">Email is invalid.</span>
        </div>
        <ng-template #emailError>
          <div>Some custom message or component when email input is valid</div>
        </ng-template>
      </div>
      <div class="form__control">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Input text" name="password" formControlName="password"/>
        <div *ngIf="password?.invalid && (isSubmitted || password?.touched); else passwordError">
          <span id="passwordErrorMessage" class="text-danger">Password is required.</span>
        </div>
        <ng-template #passwordError>
          <div>Some custom message or component when password input is valid</div>
        </ng-template>
      </div>
    </div>
    <div class="form__action">
      <app-button type="submit" buttonText="Register"></app-button>
    </div>
    <div class="form__text">
      If you have an account you may <a href="/login"><strong>Login</strong></a>
    </div>
  </form>
</div>