<h2 class="text-align-center">Login</h2>
<div class="app-plate">
  <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <div class="login-form">
      <div>
        <div class="form__control">
          <label for="email">Email</label>
          <input 
            formControlName="email"
            type="text"
            id="email"
            placeholder="Input text"
          />
          <div *ngIf="submitted && email.invalid">
            <p *ngIf="email.errors?.required" class="text-danger">Email is required</p>
            <p *ngIf="email.errors?.emailValidator" class="text-danger">Invalid email format</p>
          </div>
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <input 
            formControlName="password"
            type="password" 
            id="password"
            placeholder="Input text"
          />
          <div *ngIf="submitted && password.invalid">
            <p *ngIf="password.errors?.required" class="text-danger">Password is required.</p>
          </div>
        </div>
      </div>
      <div>
        <div class="form__action">
          <app-button type="submit" [buttonText]="'Login'"></app-button>
        </div>
        <div class="form__text">
          If you don't have an account you may <strong>Register</strong>
        </div>
      </div>
    </div>
  </form>
</div>

