<h2>Create / Edit Course</h2>
<form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
  <div class="app-plate">
    <div class="course">
      <h3>Main Info</h3>
      <div class="form__control">
        <label for="title">Title</label>
        <input type="text" id="title" formControlName="title" placeholder="Input text"/>
        <span id="titleErrorMessage" class="text-danger">Title is required.</span>
      </div>
      <div class="form__control">
        <label for="description">Description</label>
        <textarea
          id="description"
          formControlName="description"
          placeholder="Input text"
          rows="4"
          cols="5"
        ></textarea>
        <span id="descriptionErrorMessage" class="text-danger">Description is required.</span>
      </div>
      <div class="separator"></div>
      <h3>Authors</h3>
      <div class="form__control">
        <div class="course__flex">
          <input
            type="text"
            id="author"
            formControlName="newAuthorName"
            placeholder="Input Author Name"
          />
          <app-button [buttonText]="'Create author'" (click)="addAuthor()"></app-button>
        </div>
        <span id="authorErrorMessage">New author should contain only latin letters and numbers.</span>
      </div>
      <div formArrayName="authors">
        <div class="form__control" *ngFor="let authorControl of authors.controls; index as i">
          <input [formControlName]="i" />
          <app-button [buttonText]="'Delete'" (click)="removeAuthor(i)"></app-button>
        </div>
      </div>
      <div class="separator"></div>
      <h3>Duration</h3>
      <div class="form__control">
        <div class="course__flex">
          <input type="number" id="duration" formControlName="duration" placeholder="Input duration"/>
        </div>
        <span id="durationErrorMessage" class="text-danger">Duration is required.</span>
      </div>
      <div class="form__action">
        <app-button [buttonText]="'Submit'"></app-button>
      </div>
    </div>
  </div>
</form>
